In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

In [4]:
test_data.head()

,Churn,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,50.75,50.75,0,1,1,0,1,...,0,1,0,0,0,1,0,0,1,0
1,0,0,22,88.75,1885.15,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2,0,0,72,103.95,7556.90,1,0,0,1,1,...,0,0,0,1,0,1,1,0,0,0
3,0,0,4,50.55,235.65,1,0,1,0,1,...,0,1,0,0,0,1,1,0,0,0
4,1,0,8,84.50,662.65,0,1,1,0,1,...,1,1,0,0,1,0,1,0,0,0

In [5]:
train_data.head()

,Churn,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,59,110.15,6448.05,0,1,0,1,1,...,1,0,1,0,0,1,0,0,1,0
1,0,0,33,20.35,689.75,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,1
2,0,0,56,75.75,4284.65,0,1,1,0,1,...,1,0,1,0,0,1,1,0,0,0
3,0,0,26,35.75,1022.50,0,1,1,0,1,...,0,1,0,0,1,0,0,0,1,0
4,1,0,3,74.25,210.30,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0

In [6]:
test_y = test_data['Churn']
train_y = train_data['Churn']

In [7]:
test_x = test_data.drop(['Churn'], axis=1)
train_x = train_data.drop(['Churn'], axis=1)

In [10]:
train_y.head()

0    1
1    0
2    0
3    0
4    1
Name: Churn, dtype: int64

In [11]:
train_x.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,59,110.15,6448.05,0,1,0,1,1,0,...,1,0,1,0,0,1,0,0,1,0
1,0,33,20.35,689.75,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,1
2,0,56,75.75,4284.65,0,1,1,0,1,0,...,1,0,1,0,0,1,1,0,0,0
3,0,26,35.75,1022.50,0,1,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
4,0,3,74.25,210.30,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [32]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [33]:
model = RandomForestClassifier()

In [34]:
model.fit(train_x, train_y)

RandomForestClassifier()

In [35]:
pred_y = model.predict(test_x)

In [36]:
print("Accuracy: " + str(accuracy_score(test_y, pred_y)))

Accuracy: 0.776